

.articles-main-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.articles-card {
	margin-bottom: 40px;
}

.articles-subtitle {
	width: 85% !important;
}

.articles-subtitle p {
	font-family: var(--primary-font);
	font-weight: 800;
	color: var(--secondary-color);
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.01em;
	margin: 0;
}

.articles-container {
	display: flex;
	flex-direction: column;
}

.articles-wrapper {
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
}

.articles-article {
	padding-top: 0px;
	padding-left: 35px;
	padding-bottom: 20px;
	border-left: 2px solid #f4f4f5;
	width: 100%;
}

.article-image-container {
	width: auto;
	height: auto;
}

.article-image-wrapper {
	overflow: hidden;
	border-radius: 10%;
}

.article-image-wrapper img {
	width: 100%;
}

@media (max-width: 1024px) {
	.articles-title {
		width: 100% !important;
	}

	.articles-subtitle {
		width: 100% !important;
	}
}
