

.contact-subtitle {
	width: 85% !important;
}

.contact-subtitle p {
	font-family: var(--primary-font);
	font-weight: 800;
	color: var(--secondary-color);
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.01em;
	margin: 0;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 120px;
	gap: 32px;
}

.contact-card {
	margin-bottom: 40px;
}


.socials-container {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}

.contact-socials {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

@media (max-width: 768px) {
	.contact-container {
		padding-top: 96px;
	}
}
