

.projects-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.projects-card {
	margin-bottom: 40px;
}

.projects-subtitle {
	width: 85% !important;
}

.projects-subtitle p {
	font-family: var(--primary-font);
	font-weight: 800;
	color: var(--secondary-color);
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.01em;
	margin: 0;
}

@media (max-width: 600px) {
	.projects-container {
		padding-top: 60px;
	}

	.projects-project {
		width: calc(100% / 2);
	}
}
