.all-projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	gap: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.all-projects-project {
	height: 100%;
}
